#one{
		text\-indent: 20px;
		word\-spacing: 10px;
		line\-height: 30px;
		letter\-spacing: 5px;
		text\-decoration: ;
		text\-shadow: 2px 2px 3px red;
		font\-weight: bold;
		font\-style: italic;

	}
	#two{
		float:left;
	}
	ul{
		list\-style\-type: square;
            /\*circle\*/
	}
	ol{
		list\-style\-type: upper\-roman;
            /\*lower\-alpha\*/
	}
	#link{
		text\-decoration: none;
	}
	#link:active{
		/\*when the link is being pressed and hold\*/
		color:yellow;
		background\-color: black;
	}
	#link:visited{
		/\*link has been visited\*/
	}
	#link:hover{
		/\*when mouse hovers over the link\*/
	}
	#link:link{
		/\* unvisited link\*/
	}
	.new{
		width: 300px;
		height:300px;
		background\-color: lightblue;
		padding\-top: 100px;
		border:5px solid red;
		margin: 20px;
		outline:3px dashed green;
	}
    #nav{
        margin-left:-45px;
        margin-top: -12px;
        position: fixed;
    }
    a{
        text-decoration:none;
        background-color: green;
        color: white;
        margin-left: -4px;
        padding: 5px;
        font-family: cursive;
    }
    a:hover{
        background-color: blue;
        color: black;
  }
</style>