#main-content {
  font-size: 36px;
  font-weight: bold;
  padding: 16px;
}
.one{
  color: whitesmoke;
  background-color: darkgreen;
  border-style: double;
  border-radius: !important;
  margin: 75px 100px 75px 100px;
  padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    text-align-last: center;
}
#two{
  color: darkgreen;
  border-style: double;
  border-radius: !important;
  border-color: darkred;
  text-align: center;
  margin: 75px 50px 75px 50px;
  text-align-last: center;
}
.three{
  color: darkred;
  background-color: whitesmoke;
  border-style: outset;
  border-radius: !important;
  margin: 75px 100px 75px 100px;
  padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    text-align-last: center;
}
.four{
  text-align-last: center;
  color: darkred;
}
.f{
  text-align-last: center;
  color: darkred;
  border-style: initial;
  border-radius:ÔºÅimportant;
}
background-color:darkblue;
.five{
  background-color: skyblue;
  color: darkgreen;
  border-style: double;
  border-radius: !important;
  margin: 75px 100px 75px 100px;
  padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    text-align-last: center;
}